---
const { title, bg } = Astro.props;

const hero_classes = "hero min-h-screen"
const hero_styles = {
  '--bg-sm': `url(${bg.sm})`,
  '--bg-md': `url(${bg.md})`,
  '--bg-lg': `url(${bg.lg})`,
  '--bg-xl': `url(${bg.xl})`
};

---
<!-- style={`background-image: url('${bg}')`} -->

<style>
  .hero {
    background-image: var(--bg-sm);
  }
  @media (min-width: 768px) {
    .hero {
      background-image: var(--bg-md);
    }
  }
  @media (min-width: 1024px) {
    .hero {
      background-image: var(--bg-lg);
    }
  }
  @media (min-width: 1280px) {
    .hero {
      background-image: var(--bg-xl);
    }
  }
</style>

<div
  class={hero_classes}
  style={hero_styles}
  >
  <div class="hero-overlay bg-opacity-10"></div>
  <div class="mt-[40svh] hero-content text-white text-center">
    <div class="max-w-md flex flex-col items-center">
      <h1 class="mb-6 text-3xl">{title}</h1>
      <slot />
    </div>
  </div>
</div>
